<%- include('partials/header') %> 
<%- include('partials/navbar') %> 

<form action="/produto" method="get">
    <button class="btn btn-primary"> Cadastrar produto</button>
</form>

<%- include('partials/footer') %> 